name: Deploy Now

on:
  push:
    branches: [ main ] # ou ta branche
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install deps
        run: npm ci

      - name: Build
        env:
          REACT_APP_BACKEND_URL: ${{ secrets.REACT_APP_BACKEND_URL }}
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: frontend/build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to IONOS Deploy Now
        uses: ionos-deploy-now/github-action@v1
        with:
          artifact_source: 'github-pages'  # on déploie l’artifact
          project: ${{ secrets.IONOS_PROJECT_ID }}
          token: ${{ secrets.IONOS_DEPLOYNOW_TOKEN }}
